services:
  logtopus:
    build:
      context: .
      dockerfile: Dockerfile.ingestor
    ports:
      - "${PORT:-8080}:8080"
    environment:
      - PORT=8080
      - AUTH_SECRET=${AUTH_SECRET}
      - ENABLE_FILE_LOGGING=true
      - FILE_LOG_DIR=./logs
      - ENABLE_CLICKHOUSE=true
      - CLICKHOUSE_DSN=clickhouse://${CLICKHOUSE_USER}:${CLICKHOUSE_PASSWORD}@clickhouse:9000/${CLICKHOUSE_DB}?debug=true
    volumes:
      - ./logs:/app/logs
    depends_on:
      - clickhouse

  query-service:
    build:
      context: .
      dockerfile: Dockerfile.query
    command: ./query-service
    restart: on-failure
    ports:
      - "${QUERY_PORT:-8081}:8081"
    environment:
      - QUERY_PORT=8081
      - CLICKHOUSE_DSN=clickhouse://${CLICKHOUSE_USER}:${CLICKHOUSE_PASSWORD}@clickhouse:9000/${CLICKHOUSE_DB}?debug=true
    depends_on:
      - clickhouse

  clickhouse:
    image: clickhouse/clickhouse-server
    ports:
      - "8123:8123"
      - "9000:9000"
    environment:
      - CLICKHOUSE_DB=${CLICKHOUSE_DB}
      - CLICKHOUSE_USER=${CLICKHOUSE_USER}
      - CLICKHOUSE_PASSWORD=${CLICKHOUSE_PASSWORD}
      - CLICKHOUSE_DEFAULT_ACCESS_MANAGEMENT=1
    volumes:
      - clickhouse_data:/var/lib/clickhouse
    ulimits:
      nofile:
        soft: 262144
        hard: 262144

volumes:
  clickhouse_data:
